*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color : #2d2d2f;
    --white-color: white;
    --black-color: black;
    --aqua-color: #26b0a1;
    --height-top : 70px;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    width: 100%;
    vertical-align: top;
}
.container{
    display: block;
    width: 1200px;
    max-width: 100%;
    /* background-color: red; */
    margin: 0 auto;
}
@media (max-width: 1200px){
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
}


/*  */

